# Ignorar todos los archivos PNG en la carpeta PolyMNIST
PolyMNIST/MMNIST/train/*.png
PolyMNIST/MMNIST/test/*.png

# Ignorar todas las imágenes en las carpetas de cada modalidad
PolyMNIST/MMNIST/train/m0/*.png
PolyMNIST/MMNIST/train/m1/*.png
PolyMNIST/MMNIST/train/m2/*.png
PolyMNIST/MMNIST/train/m3/*.png
PolyMNIST/MMNIST/train/m4/*.png

PolyMNIST/MMNIST/test/m0/*.png
PolyMNIST/MMNIST/test/m1/*.png
PolyMNIST/MMNIST/test/m2/*.png
PolyMNIST/MMNIST/test/m3/*.png
PolyMNIST/MMNIST/test/m4/*.png

# También puedes ignorar todos los archivos en estas carpetas
PolyMNIST/MMNIST/train/
PolyMNIST/MMNIST/test/
